html,body{
    height: 100%;
}

.holder{
    min-height: 114%;
    position: absolute;
    left: 0;
    width: 100%;
    top: 0;
    right: 0;
}

.questionsdisplay{
    padding-bottom:100px;
    padding-top: 190px;
    padding-left: 16px;
}

.deleteselection{
    display:
    flex;
    flex-flow:
    column;
}

input[type=checkbox]{
    display:none; 
}

label{
    display:flex;
    width:100%;
    font-size: x-large;
    padding-bottom: 3px;
    padding-top: 3px;
}

#selectonoff{
    position: absolute;
    width: 130px;
    height: 37px;
    left: calc(50% - 175px/2 + 698.5px);
    top:180px;
    background: #094067;
    border-radius: 6px;
    color:white;
    border-width: 0px;
    font-family: 'CM';
}
#selectall{
    display:
    none;
    position: absolute;
    width: 130px;
    height: 37px;
    left: calc(50% - 175px/2 - -555px);
    top: 180px;
    background: #094067;
    border-radius: 6px;
    color:
    white;
    border-width: 0px;
    font-family: 'CM';
}


#deletebutton{
    display: none;
    position: absolute;
    width: 130px;
    height: 37px;
    left: calc(50% - 175px/2 + 412px);
    top: 180px;
    border-width: 0px;
    background: #ef4565;
    color:white;
    border-radius: 6px;
}
